body {
    width:100%;
    margin: 0;
    font-family: 'Harriet Text', serif;
}

header{
    /*outline: 1px dashed red;*/
}

/* Header styles */

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0002;
}

.title h1 {
    font-family: 'GTF Chapter', serif;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 40px;
    margin:auto;
}

.nav-list a {
    font-family: 'Basis Grotesque Pro', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    letter-spacing: 2px;
    position: relative;
}

.nav-list a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    bottom: -63px;
    left: 0;
    width: 100%;
}

/* Botón hamburguesa */

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-right: 0;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 3px;
}
