
/* Reset and base styles */


body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Harriet Text', serif; /* Body copy font */
}

/* Header styles */
.header {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #0002;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-family: 'GTF Chapter', serif; /* Logo font */
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}

.nav {
    /*margin-top: 20px;*/
}

.nav-list {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 36px;
}

.nav-list a {
    font-family: 'Basis Grotesque Pro', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
}


.nav-list a.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -58px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}




main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 10px 20px;
    /*outline: 2px dashed red;*/
}

main *{
    /*outline: 2px dashed blue;*/
}


#separator {
    width: 60%;
    height: 2px; /* Grosor de la línea */
    background-color: black; /* Color de la línea */
    margin: 40px auto;
    align-items: center;
    align-self: center;
}


/* Artículo principal */
#main-article {
    margin-bottom: 40px; /* Espacio debajo del artículo principal */
    text-align: center; /* Centrado de texto */
}

#main-article-image img {
    width: 50%; /* Imagen ocupa el ancho completo */
    height: auto;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
}



#main-article-title h1 {
    font-family: Georgia, sans-serif;
    font-weight: bold;
    width:50%;
    margin: 10px auto;
    font-size: 36px;
}

#main-article-subtitle h2 {
    width: 40%;
    font-family: "Courier New", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin: 10px auto;
    letter-spacing: 2px;
    font-size: 16px;
    color: #666;
}

.article-grid{
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    grid-column-gap: 10px;
    align-items: center;
    outline: 2px dashed green;
    margin: 20px auto;
    grid-auto-rows: 300px;
    gap: 50px 10px;

}

.article-grid *{
    outline: 2px dashed green;
}






/* Estilos de los artículos secundarios */
.article {
    text-align: center; /* Centrar texto e imágenes */
}

.article img {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Imagen ajustada sin distorsión */
    margin-bottom: 10px;
}

.article-title h1 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    line-height: 1.4;
    margin-bottom: 30px;
}
